div#chatinterface_wrapper
	div.toggleVolume.fading(volume)   volume  
	div.bottom
		div.log.fading
			div.logContent
			button.toggleLog Show log
		button.leaveRoom.fading Leave room
		button.shareScreen.fading(share) Share Screen