div.popUp-container
	link(rel='stylesheet' type='text/css' href='/css/schedulePopUp.css')
	div.modal(tabindex="-1" role="dialog")
		div.modal-dialog-centered(role="document")
			div.modal-content.hideChildDivs
				div.modal-header
					h5.modal-title Connection Lost
					//- button.close(type="button" data-dismiss="modal" aria-label="Close")
				div.modal-body
					div.candle 🕯
				div.modal-footer
					div._modal-message
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					div._modal-buttons
						button.btn(type="button" data-agree=true) yes
						button.btn(type="button" data-agree=false) no
				//- div.background


