/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


body{
	background:#808080;
	margin: 0px;
	min-width: 570px;
	/*position: relative;*/
}

::-moz-selection { background: white; }
::selection { background: white; }

div.main-content{
	position: absolute;
	bottom: 0px;
	top: 0px;
	min-width: 570px;
	width:100%;
	text-align: center;
}

button{
	font-family: monospace;
	border-radius: 2px;
	border: 1px solid #999;
	color: #999;
	background-color: #CCC;
	height: 25px;
	width: 80px;
	font-size: larger;
	text-align: center;
}

.info{
	color: #666;
    font-size: larger;
    text-align: center;
}

.err {
	color: white;
	font-size: medium;
}

.info.mediaReq {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.err > span:nth-child(1){
	font-size: larger !important;	
}

div.main-content > .err {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.logo{
	position: absolute;
	display: block;
	max-height: 50px;
	min-height: 40px;
	width: auto;
	margin-top: 40px;
	opacity: 1.0;
	-webkit-filter: blur(0px);
	        filter: blur(0px);
}
.logo#name{
	margin-left: 40px;
}
.logo#icon{
	margin-right: 40px;
	right: 0%;
	mix-blend-mode: hard-light;
}

#form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
}
#form-wrapper > .info{
	display: block;
}
#form-wrapper > textarea{
	display: block;
	resize: none;
	height: 25px;
	padding-left: 6px;
	margin: 20px auto 20px auto;
	font-family: sans-serif;
	border-radius: 4px;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
	width: 20%;
	min-width: 150px;
	max-width: 260px;
}
#form-wrapper > textarea::-webkit-input-placeholder{
	color: #808080;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
}
#form-wrapper > textarea::-moz-placeholder{
	color: #808080;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
}
#form-wrapper > textarea:-ms-input-placeholder{
	color: #808080;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
}
#form-wrapper > textarea::-ms-input-placeholder{
	color: #808080;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
}
#form-wrapper > textarea::placeholder{
	color: #808080;
	line-height: 25px;
	font-family: sans-serif;
	font-size: small;
}

#form-wrapper > textarea::-moz-selection { background: #808080; color: white }
#form-wrapper > textarea::selection { background: #808080; color: white}

#form-wrapper > .errors{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	        transform: translate(-50%,0);
	margin-top: 20px;
}

#form-wrapper > button{	
	margin: 0px 2% 0px 2%;	
}

#form-wrapper > button:focus, #form-wrapper > textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.joining, .waiting{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

canvas.scene{
	position: absolute;
	left: 50%;
	top: 0px;
	z-index: -99999;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
}

/*fading out errors*/
/*
#form-wrapper > .errors{
	display: block;
	height: 100px;
	width: 100px;
	background-color: red;
	-webkit-mask-position: 0px 200px;
	-webkit-mask-image: linear-gradient(to top, #ffffffff 00%, #ffffffff 50%, #ffffff00 75%, #ffffff00 100%);
	-webkit-mask-size: 400px 400px;
    animation-name: example;
    animation-duration: 8s;
}

@-webkit-keyframes example{
	from{-webkit-mask-position: 0px 200px}
	to{-webkit-mask-position: 0px 400px;}
}
*/
#chatinterface_wrapper{
	height: 100%;
}

#chatinterface_wrapper > .bottom{
	position: absolute;
    bottom: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    margin-bottom: 50px;
}

#chatinterface_wrapper button {
    width: 160px;
    height: 45px;
    min-width: 100px;
}

.bottom > * {
    -ms-flex-negative: 1;
        flex-shrink: 1;    
}

.bottom>*:first-child{
	margin-left:50px;
}
.bottom>*:last-child{
	margin-right:50px;
}

/*#chatinterface_wrapper > .toggleVolume{
	display: block;
	width: 222px;
	height: 50px;
	border: 2px solid red;
}

#chatinterface_wrapper > .toggleVolume[volume]{
	border: 2px solid green;
}*/

.top{
	margin-top:50px;
}

.top > .roomName{
	display: inline-block;
    font-style: italic;
    font-size: xxx-large;
    color: white;
    -webkit-text-stroke: thin white;
    color: #00000000;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
            transform: translate(0, -25%);
}
.top > .roomName::-moz-selection { color: #808080 }
.top > .roomName::selection { color: #808080}

.top > .roomName:hover, .top > .toggleVolume, .bottom button{
	cursor: pointer;
}

.roomName.roomAnim{
	-webkit-animation-name: roomAnim;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes roomAnim {
  from {
    -webkit-filter: drop-shadow(0px 0px 3px #ffffffff);
            filter: drop-shadow(0px 0px 3px #ffffffff);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 5px #ffffff00);
            filter: drop-shadow(0px 0px 5px #ffffff00);
  }
}

.top > .toggleVolume{
	margin-top: 15px;
    color: white;
    font-size: medium;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
}

.top > .toggleVolume[volume]{
	-webkit-text-decoration-line: none;
	        text-decoration-line: none;
}

.fading[fading='half']{
	opacity: 0.5;
	-webkit-filter: blur(0px);
	        filter: blur(0px);
}

.fading[fading='out']{
	opacity: 0.0;
	-webkit-filter: blur(4px);
	        filter: blur(4px);
}

.fading[fading='in']{
	opacity: 1.0 !important;
	-webkit-filter: blur(0px) !important;
	        filter: blur(0px) !important;
}

.fadeOut{
	-webkit-animation-name: fadeOut !important;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0.0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.fadeInHalf{
	-webkit-animation-name: fadeInHalf;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInHalf {
  to {
    opacity: 0.5;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}