
body{
	background:#808080;
}

canvas.fullscreen{
	position:absolute;
	height: 100%;
	top:0px;
	left:50%;
	transform: translate(-50%,0);
	z-index: -999;
}

div.connection{
	width: 66px;
	height: 66px;
}

div.connection[isConnected="false"] {
  background-color: red;
}

div.connection[isConnected="true"] {
  background-color: green;
}

